<div class="form-group row">
  <label class="col-form-label col-sm-2" for="cusid">ID</label>
  <div class="col-sm-5">
    <input autofocus class="form-control" name="cusid" id="cusid" value="<%= model.cusid %>" />
  </div>
  <label class="col-form-label col-sm-3" for="cusid">(equals)</label>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="cusfname">First Name</label>
  <div class="col-sm-5">
    <input class="form-control" name="cusfname" id="cusfname" value="<%= model.cusfname %>" />
  </div>
  <label class="col-form-label col-sm-3" for="cusfname">(begins with)</label>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="cuslname">Last Name</label>
  <div class="col-sm-5">
    <input class="form-control" name="cuslname" id="cuslname" value="<%= model.cuslname %>" />
  </div>
  <label class="col-form-label col-sm-3" for="cuslname">(begins with)</label>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="cusstate">State</label>
  <div class="col-sm-5">
    <input class="form-control" name="cusstate" id="cusstate" value="<%= model.cusstate %>" />
  </div>
  <label class="col-form-label col-sm-3" for="cusstate">(equals)</label>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="cussalesytd">Sales YTD</label>
  <div class="col-sm-5">
    <input class="form-control" name="cussalesytd" id="cussalesytd" value="<%= model.cussalesytd %>" />
  </div>
  <label class="col-form-label col-sm-3" for="cussalesytd">(greater than or equal to)</label>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="cussalesprev">Previous Years Sales</label>
  <div class="col-sm-5">
    <input class="form-control" name="cussalesprev" id="cussalesprev"value="<%= model.cussalesprev %>" />
  </div>
  <label class="col-form-label col-sm-3" for="cussalesprev">(greater than or equal to)</label>
</div>